<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EPASS Generation</title>
	<style>
		input[type=text],input[type=number],input[type=email],input[type=date] {
		  border: none;
		  border-bottom: 2px solid red;
		}
	</style>
</head>
<body>
<center><h1 class="para">EPASS</h1><h3>By Government of India</h3></center><hr><hr><br>
<form action="/epass" method="POST">
	First Name  :<input  type="text" name="fname" placeholder="First Name" required><br>
	Last Name :<input  type="text" name="lname" placeholder="Last Name" required><br>
	Email :<input  type="email" name="email" placeholder="Email" required><br>
	Source State :<input  type="text" name="sourceST" placeholder="Source state" required><br>
	Source District :<input  type="text" name="sourceDT" placeholder="Source district" required><br>
	Destination State :<input  type="text" name="destinationST" placeholder="Destination state" required><br>
	Destination District :<input  type="text" name="destinationDT" placeholder="Destination district" required><br>
	Phone Number :<input  type="number" name="phoneNumber" placeholder="Phone number" required><br>
	Id Proof :<input  type="text" name="idProof" placeholder="ID proof number" required><br>
	Date :<input  type="date" name="trip" placeholder="Date of travel" required><br>
	Reason :<br><textarea name="message" placeholder="Your Reason" required></textarea><br>
	<input type ="submit" value="Generate">
</form>
</body>
</html>